<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24220538973-hkgdvgbrgmudd8f9m5omd16n03ivf4ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24220538973-hkgdvgbrgmudd8f9m5omd16n03ivf4ir</string>
	<key>API_KEY</key>
	<string>AIzaSyCk2VcGx4XoZAsl9FKYv9vZ7NegCcHoGe4</string>
	<key>GCM_SENDER_ID</key>
	<string>24220538973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAppDemo01</string>
	<key>PROJECT_ID</key>
	<string>my-app-demo-01</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-demo-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24220538973:ios:e794b2131ca332c72e95b4</string>
</dict>
</plist>